@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');
* {
font-family: 'Roboto', sans-serif;
padding: 0;
margin: 0;
box-sizing: border-box;
}

body{
    display: flex;
}


.nav__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    gap: 8px;
    height: 36px;
    width: 120px;
    border: none;
    background: #5e41de33;
    border-radius: 20px;
    cursor: pointer;
}

.nav__link--logo {
    margin-right: 10px; /* Add some spacing between the logo and the link text */
}

.nav__link a {
    text-decoration: none; /* Remove the underline from the links */
}
