.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    font-family: "Droid Serif", Georgia, serif;
    font-weight: 400;
  }
  
  .nav__logo {
    color: white;
    font-size: 24px;
    padding: 24px;
  }
  
  .nav__list {
    padding: 20px;
    list-style: none; /* Remove bullet points */
    position: relative; /* Add relative positioning for pseudo-elements */
  }
  
  .nav__list:not(:last-child)::before {
    content: "";
    display: block;
    height: 100%;
    width: 1px; /* Adjust the width for your desired line thickness */
    background-color: #222222;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .nav__list a {
    text-decoration: none; /* Remove underlines from links */
    color: #fff; /* Set the text color to white */
  }
  
  .nav__links {
    display: flex; /* Make the list items display horizontally */
  }
  